@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

.input-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.input-window button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 20px;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}


h1 {
    font-size: 50px;
    font-weight: 400;
}

h4{
    font-size: 25px;
    font-weight: 400;
    color: rgba(40, 52, 68, 0.76);
}

.desc {
    color: #883434;
}